/* 
* {
    box-sizing: border-box;
} */

header {
height: 100px;
}

body {
background:
linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
background-color: #131313;
background-size: 20px 20px;
font-family: fantasy;
}

#text{
    margin-bottom: 5px;
}

.btn {
  margin: 1%;
  border: solid #1f628d 3px;
}

.btn:hover {
  background: #1f628d;
  opacity: 0.7;
}

#cadre {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; 
    width : 800px; 
    height :300px; 
    margin : 0px auto 0px auto ;
    box-shadow: 1px 1px 12px #1F628D;
    } 

.rectangle {
    width:100px;
    height:100px;
    background:#1F628D;
    position: absolute;
   }

p{
    text-align: center;
    color: white;
    margin-bottom: 55px;
    margin-top: 75px;
    cursor: zoom-in;
}

h1{
    font-size: 60px;
    color: white;
    text-align: center;
    margin-bottom: 1%;
    margin-top: 1%;
}

h2{
    font-size: 13px;
    color: #1f628d;
    text-align: center;
}